.nav-header {
  background-color: rgb(215, 62, 49);
  padding: 7px 0;
  font-weight: bold;
  font-size: 0.9em;
}

.nav-header-link {
  margin: 0 20px;
  color: white;
  text-decoration: none;
}

.nav-header-social-link {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
